.product {
    padding: 20px;
    width: 500px !important; 
    height: 350px;
    .product-link {
        position: absolute;
        bottom: 20%;
        left: 25%;
        background-color: green;
        color: white;
        border-radius: 25px;
        text-decoration: none;
        padding: 5px;
    }
}